[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]

[dependency-groups]
  altair = ["altair>=6.0.0"]
  altair-test = ["polars>=1.37.1", "img2pdf>=0.6.3", "vl-convert-python>=1.9.0"]
  atools = ["atools>=0.14.2"]
  cachetools = ["cachetools>=6.2.4"]
  click = ["click>=8.3.1"]
  core = [
    "atomicwrites>=1.4.1",
    "typing-extensions>=4.15.0",
    "tzlocal>=5.3.1",
    "whenever>=0.9.5",
  ]
  cryptography = ["cryptography>=46.0.3"]
  cvxpy = ["cvxpy>=1.7.5"]
  dataclasses-test = ["orjson>=3.11.5", "polars>=1.37.1"]
  dev = [
    "coloredlogs>=15.0.1",
    "coverage-conditional-plugin>=0.9.0",
    "dycw-pytest-only>=2.1.1",
    "dycw-utilities[test]>=0.183.3",
    "pyright>=1.1.408",
    "pytest-cov>=7.0.0",
    "pytest-timeout>=2.4.0",
    "rich>=14.2.0",
  ]
  fastapi = ["fastapi>=0.128.0"]
  fastapi-test = ["httpx>=0.28.1", "uvicorn>=0.40.0"]
  fpdf2 = ["fpdf2>=2.8.5"]
  gitpython = ["gitpython>=3.1.46"]
  hashlib-test = ["orjson>=3.11.5"]
  http-test = ["orjson>=3.11.5"]
  hypothesis = ["hypothesis>=6.150.2"]
  hypothesis-test = [
    "libcst>=1.8.6",
    "numpy>=2.4.1",
    "pathvalidate>=3.3.1",
    "pytest-rerunfailures>=16.1",
  ]
  inflect = ["inflect>=7.5.0"]
  jinja2 = ["jinja2>=3.1.6"]
  jupyter-test = ["pandas>=2.3.3", "polars>=1.37.1"]
  libcst = ["libcst>=1.8.6"]
  lightweight-charts = ["lightweight-charts>=2.1"]
  lightweight-charts-test = ["polars>=1.37.1", "pyarrow>=22.0.0"]
  math-test = ["numpy>=2.4.1"]
  memory-profiler = ["memory-profiler>=0.61.0"]
  more-itertools = ["more-itertools>=10.8.0"]
  numpy = ["numpy>=2.4.1"]
  operator = ["polars>=1.37.1"]
  optuna = ["optuna>=4.6.0"]
  orjson = ["orjson>=3.11.5"]
  orjson-test = ["polars>=1.37.1"]
  packaging = ["packaging>=25.0"]
  polars = ["polars>=1.37.1"]
  polars-ols = ["polars-ols>=0.3.5"]
  polars-ols-test = ["scikit-learn>=1.8.0"]
  polars-test = ["numpy>=2.4.1", "scipy>=1.17.0", "statsmodels>=0.14.6"]
  pottery = ["pottery>=3.0.1"]
  pottery-test = ["orjson>=3.11.5"]
  pqdm = ["pqdm>=0.2.0"]
  psutil = ["psutil>=7.2.1"]
  pydantic = ["pydantic>=2.12.5"]
  pydantic-settings = ["pydantic-settings>=2.12.0"]
  pydantic-settings-sops = ["pydantic-settings-sops>=0.1.2"]
  pydantic-settings-test = ["pyyaml>=6.0.3", "tomlkit>=0.14.0"]
  pyinstrument = ["pyinstrument>=5.1.2"]
  pytest = [
    "pytest>=9.0.2",
    "pytest-asyncio>=1.3.0",
    "pytest-randomly>=4.0.1",
    "pytest-timeout>=2.4.0",
    "pytest-xdist>=3.8.0",
  ]
  pytest-regressions = ["pytest-regressions>=2.9.1"]
  pytest-regressions-test = ["orjson>=3.11.5", "polars>=1.37.1"]
  pytest-test = [
    "orjson>=3.11.5",
    "pytest-rerunfailures>=16.1",
    "pytest-rng>=1.0.0",
  ]
  redis = ["redis>=7.1.0", "orjson>=3.11.5"]
  redis-test = ["pytest-rerunfailures>=16.1"]
  reprlib-test = ["rich>=14.2.0"]
  scipy = ["scipy>=1.17.0"]
  shellingham = ["shellingham>=1.5.4"]
  sklearn = ["scikit-learn>=1.8.0"]
  slack-sdk = ["slack-sdk>=3.39.0"]
  slack-sdk-test = ["aiohttp>=3.13.3"]
  sqlalchemy = ["sqlalchemy>=2.0.45", "psycopg>=3.3.2"]
  sqlalchemy-polars = ["sqlalchemy>=2.0.45", "polars>=1.37.1"]
  sqlalchemy-polars-test = [
    "aiosqlite>=0.22.1",
    "asyncpg>=0.31.0",
    "greenlet>=3.3.0",
  ]
  sqlalchemy-test = ["aiosqlite>=0.22.1", "asyncpg>=0.31.0", "greenlet>=3.3.0"]
  statsmodels = ["statsmodels>=0.14.6"]
  tabulate = ["tabulate>=0.9.0"]
  testbook = ["testbook>=0.4.2"]
  tzdata = ["tzdata>=2025.3"]
  whenever-test = ["pathvalidate>=3.3.1"]

[project]
  authors = [{ email = "d.wan@icloud.com", name = "Derek Wan" }]
  dependencies = [
    "atomicwrites>=1.4.1",
    "typing-extensions>=4.15.0",
    "tzlocal>=5.3.1",
    "whenever>=0.9.5",
  ]
  description = "Miscellaneous Python utilities"
  name = "dycw-utilities"
  readme = "README.md"
  requires-python = ">= 3.12"
  version = "0.183.4"

  [project.entry-points.pytest11]
    pytest-randomly = "utilities.pytest_plugins.pytest_randomly"
    pytest-regressions = "utilities.pytest_plugins.pytest_regressions"

  [project.optional-dependencies]
    logging = ["coloredlogs>=15.0.1"]
    test = [
      "dycw-pytest-only>=2.1.1",
      "hypothesis>=6.150.2",
      "pytest>=9.0.2",
      "pytest-asyncio>=1.3.0",
      "pytest-cov>=7.0.0",
      "pytest-instafail>=0.5.0",
      "pytest-lazy-fixtures>=1.4.0",
      "pytest-randomly>=4.0.1",
      "pytest-regressions>=2.9.1",
      "pytest-repeat>=0.9.4",
      "pytest-rerunfailures>=16.1",
      "pytest-rng>=1.0.0",
      "pytest-timeout>=2.4.0",
      "pytest-xdist>=3.8.0",
    ]

[tool]
  [tool.uv]
    default-groups = "all"

    [tool.uv.build-backend]
      module-name = "utilities"
      module-root = "src"
