[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]

[dependency-groups]
  altair = ["altair >=6.0.0, <6.1"]
  altair-test = ["polars", "img2pdf", "vl-convert-python"]
  atools = ["atools >=0.14.2, <0.15"]
  cachetools = ["cachetools >=6.2.4, <6.3"]
  click = ["click >=8.3.1, <8.4"]
  core = [
    "atomicwrites >=1.4.1, <1.5",
    "typing-extensions >=4.15.0, <4.16",
    "tzlocal >=5.3.1, <5.4",
    "whenever >=0.9.4, <0.10",
  ]
  cryptography = ["cryptography >=46.0.3, <46.1"]
  cvxpy = ["cvxpy >=1.7.5, <1.8"]
  dataclasses-test = ["orjson", "polars"]
  dev = [
    "coloredlogs >=15.0.1, <15.1",
    "coverage-conditional-plugin >=0.9.0, <0.10",
    "dycw-pytest-only >=2.1.1, <2.2",
    "pyright[nodejs] >=1.1.407, <1.2",
    "pytest-cov >=7.0.0, <7.1",
    "pytest-timeout >=2.4.0, <2.5",
    "dycw-utilities[test]",
    "rich",
  ]
  fastapi = ["fastapi >=0.128.0, <0.129"]
  fastapi-test = ["httpx", "uvicorn"]
  fpdf2 = ["fpdf2 >=2.8.5, <2.9"]
  gitpython = ["gitpython >=3.1.45, <3.2"]
  hashlib-test = ["orjson"]
  http-test = ["orjson"]
  hypothesis = ["hypothesis >=6.148.8, <6.149"]
  hypothesis-test = ["libcst", "numpy", "pathvalidate", "pytest-rerunfailures"]
  inflect = ["inflect >=7.5.0, <7.6"]
  jinja2 = ["jinja2 >=3.1.6, <3.2"]
  jupyter-test = ["pandas", "polars"]
  libcst = ["libcst >=1.8.6, <1.9"]
  lightweight-charts = ["lightweight-charts >=2.1, <2.2"]
  lightweight-charts-test = ["polars", "pyarrow"]
  math-test = ["numpy"]
  memory-profiler = ["memory-profiler >=0.61.0, <0.62"]
  more-itertools = ["more-itertools >=10.8.0, <10.9"]
  numpy = ["numpy >=2.4.0, <2.5"]
  operator = ["polars"]
  optuna = ["optuna >=4.6.0, <4.7"]
  orjson = ["orjson >=3.11.5, <3.12"]
  orjson-test = ["polars"]
  polars = ["polars >=1.36.1, <1.37"]
  polars-ols = ["polars-ols >=0.3.5, <0.4"]
  polars-ols-test = ["scikit-learn"]
  polars-test = ["numpy", "scipy", "statsmodels"]
  pottery = ["pottery >=3.0.1, <3.1"]
  pottery-test = ["orjson"]
  pqdm = ["pqdm >=0.2.0, <0.3"]
  psutil = ["psutil >=7.2.0, <7.3"]
  pydantic = ["pydantic >=2.12.5, <2.13"]
  pydantic-settings = ["pydantic-settings >=2.12.0, <2.13"]
  pydantic-settings-sops = ["pydantic-settings-sops"]
  pydantic-settings-test = ["pyyaml", "tomlkit"]
  pyinstrument = ["pyinstrument >=5.1.1, <5.2"]
  pytest = [
    "pytest >=9.0.2, <9.1",
    "pytest-asyncio >=1.3.0, <1.4",
    "pytest-randomly >=4.0.1, <4.1",
    "pytest-timeout >=2.4.0, <2.5",
    "pytest-xdist >=3.8.0, <3.9",
  ]
  pytest-regressions = ["pytest-regressions >=2.8.3, <2.9"]
  pytest-regressions-test = ["orjson", "polars"]
  pytest-test = ["orjson", "pytest-rerunfailures", "pytest-rng"]
  redis = ["redis >=7.1.0, <7.2", "orjson"]
  redis-test = ["pytest-rerunfailures"]
  reprlib-test = ["rich"]
  scipy = ["scipy >=1.16.3, <1.17"]
  sklearn = ["scikit-learn >=1.8.0, <1.9"]
  slack-sdk = ["slack-sdk >=3.39.0, <3.40"]
  slack-sdk-test = ["aiohttp"]
  sqlalchemy = ["sqlalchemy >=2.0.45, <2.1", "psycopg"]
  sqlalchemy-polars = ["sqlalchemy", "polars"]
  sqlalchemy-polars-test = ["aiosqlite", "asyncpg", "greenlet"]
  sqlalchemy-test = ["aiosqlite", "asyncpg", "greenlet"]
  statsmodels = ["statsmodels >=0.14.6, <0.15"]
  testbook = ["testbook >=0.4.2, <0.5"]
  tzdata = ["tzdata >=2025.3, <2025.4"]
  whenever-test = ["pathvalidate"]

[project]
  authors = [{ email = "d.wan@icloud.com", name = "Derek Wan" }]
  dependencies = [
    "atomicwrites >=1.4.1, <1.5",
    "typing-extensions >=4.15.0, <4.16",
    "tzlocal >=5.3.1, <5.4",
    "whenever >=0.9.4, <0.10",
  ]
  description = "Miscellaneous Python utilities"
  name = "dycw-utilities"
  readme = "README.md"
  requires-python = ">= 3.12"
  version = "0.175.11"

  [project.entry-points.pytest11]
    pytest-randomly = "utilities.pytest_plugins.pytest_randomly"
    pytest-regressions = "utilities.pytest_plugins.pytest_regressions"

  [project.optional-dependencies]
    logging = ["coloredlogs >=15.0.1, <15.1"]
    test = [
      "dycw-pytest-only >=2.1.1, <2.2",
      "hypothesis >=6.148.8, <6.149",
      "pytest >=9.0.2, <9.1",
      "pytest-asyncio >=1.3.0, <1.4",
      "pytest-cov >=7.0.0, <7.1",
      "pytest-instafail >=0.5.0, <0.6",
      "pytest-lazy-fixtures >=1.4.0, <1.5",
      "pytest-randomly >=4.0.1, <4.1",
      "pytest-regressions >=2.8.3, <2.9",
      "pytest-repeat >=0.9.4, <0.10",
      "pytest-rerunfailures >=16.1, <16.2",
      "pytest-rng >=1.0.0, <1.1",
      "pytest-timeout >=2.4.0, <2.5",
      "pytest-xdist >=3.8.0, <3.9",
      "testbook >=0.4.2, <0.5",
    ]

[tool]
  [tool.uv]
    default-groups = "all"

    [tool.uv.build-backend]
      module-name = "utilities"
      module-root = "src"
