[pytest]
  addopts = [
    "-ra",
    "-vv",
    "--color=auto",
    "--durations=10",
    "--durations-min=10",
    "--cov=utilities",
    "--cov-config=.coveragerc.toml",
    "--cov-report=html",
  ]
  asyncio_default_fixture_loop_scope = "function"
  asyncio_mode = "auto"
  collect_imported_tests = false
  empty_parameter_set_mark = "fail_at_collect"
  filterwarnings = [
    "error",
    "ignore::ResourceWarning",
    "ignore:Automatically deduplicated selection parameter with identical configuration:UserWarning", # altair
    # "ignore:Do not expect file_or_dir in Namespace:UserWarning",                                                                       # pytest
    # "ignore:Exception ignored in.* <coroutine object .* at .*>:pytest.PytestUnraisableExceptionWarning",
    # "ignore:Exception in thread Thread-.*:pytest.PytestUnhandledThreadExceptionWarning",
    # "ignore:Jupyter is migrating its paths to use standard platformdirs:DeprecationWarning",                                           # jupyter
    # "ignore:ResourceTracker called reentrantly for resource cleanup, which is unsupported:UserWarning",
    # "ignore:The garbage collector is trying to clean up non-checked-in connection <AdaptedConnection <Connection(.*)>:RuntimeWarning", # sqlalchemy
    # "ignore:Using fork.* can cause Polars to deadlock in the child process:RuntimeWarning",                                            # polars/pqdm
    # "ignore:coroutine 'AsyncConnection.close' was never awaited:RuntimeWarning",
  ]
  minversion = "9.0"
  strict = true
  testpaths = ["src/tests"]
  timeout = "600"
  xfail_strict = true
