[pytest]
  addopts = [
    "-ra",
    "-vv",
    "--color=auto",
    "--durations=10",
    "--durations-min=10",
    # "--cov=utilities",
    # "--cov-config=.coveragerc.toml",
    # "--cov-report=html",
  ]
  asyncio_default_fixture_loop_scope = "function"
  asyncio_mode = "auto"
  collect_imported_tests = false
  empty_parameter_set_mark = "fail_at_collect"
  filterwarnings = [
    "error",
    "ignore:<aiosqlite.*core.*Connection .*> was delete before being closed:ResourceWarning",                                          # sqlalchemy
    "ignore:Automatically deduplicated selection parameter with identical configuration:UserWarning",                                  # altair
    "ignore:Do not expect file_or_dir in Namespace:UserWarning",                                                                       # pytest
    "ignore:Exception ignored in.* <coroutine object .* at .*>:pytest.PytestUnraisableExceptionWarning",
    "ignore:Exception in thread Thread-.*:pytest.PytestUnhandledThreadExceptionWarning",
    "ignore:Implicitly cleaning up <_TemporaryFileWrapper .*>:ResourceWarning",                                                        # tempfile
    "ignore:Jupyter is migrating its paths to use standard platformdirs:DeprecationWarning",                                           # jupyter
    "ignore:ResourceTracker called reentrantly for resource cleanup, which is unsupported:UserWarning",
    "ignore:The garbage collector is trying to clean up non-checked-in connection <AdaptedConnection <Connection(.*)>:RuntimeWarning", # sqlalchemy
    "ignore:Using fork.* can cause Polars to deadlock in the child process:RuntimeWarning",                                            # polars/pqdm
    "ignore:coroutine 'AsyncConnection.close' was never awaited:RuntimeWarning",
    "ignore:loop is closed:ResourceWarning",                                                                                           # redis
    "ignore:unclosed <StreamWriter .*>:ResourceWarning",                                                                               # redis
    "ignore:unclosed <socket.*socket .*>:ResourceWarning",                                                                             # redis
    "ignore:unclosed Connection <redis.*asyncio.*connection.*Connection.*>:ResourceWarning",                                           # redis
    "ignore:unclosed connection <asyncpg.*connection.*Connection.*>:ResourceWarning",                                                  # asyncpg
    "ignore:unclosed database in <sqlite3.*Connection .*>:ResourceWarning",                                                            # sqlalchemy
    "ignore:unclosed event loop <_UnixSelectorEventLoop .*>:ResourceWarning",                                                          # redis
    "ignore:unclosed file <_io.*TextIOWrapper .*>:ResourceWarning",                                                                    # logging
    "ignore:unclosed transport <_SelectorSocketTransport .*>:ResourceWarning",                                                         # redis
  ]
  minversion = "9.0"
  strict = true
  testpaths = ["src/tests"]
  timeout = "600"
  xfail_strict = true
