name: push

on:
  push:
    branches:
      - master

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: butlerlogic/action-autotag@1.1.2 # https://github.com/ButlerLogic/action-autotag/issues/45#issuecomment-1825726927
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          strategy: regex
          root: pyproject.toml
          regex_pattern: 'current_version = "(?<version>\d+\.\d+\.\d+)"'

  publish:
    runs-on: ubuntu-latest
    needs:
      - tag
    environment:
      name: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml
      - run: uv build
      - run: uv publish
