name: push
on:
  push:
    branches:
      - master
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Tag latest commit
        uses: dycw/action-tag@latest
        with:
          token: ${{secrets.GITHUB_TOKEN}}
  publish:
    environment:
      name: pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Build and publish package
        uses: dycw/action-publish@latest
        with:
          token: ${{secrets.GITHUB_TOKEN}}
